/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.red {
  color: #E3436A;
}

.v-middle {
  vertical-align: middle;
}

.snackbar-success {
  background: #2d7121;
  color: #fff;
  --mdc-snackbar-container-color: var(--success-color);

  .mat-simple-snackbar-action {
    background: #2d7121;
    color: #fff;
  }
}

.snackbar-error {
  background: red;
  color: #fff;
  --mdc-snackbar-container-color: var(--error-color);

  .mat-simple-snackbar-action {
    background: red;
    color: #fff;
  }
}

